@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
:root {
  --dark: #181818;
  --dark1: #202020;
  --dark2: #323232;
}

.centerHorizontal {
  margin: auto;
  display: block;
}

.rotate180 {
  transform: rotate(180deg);
}
